body {
  background-image: linear-gradient(to bottom, #88ff0165, #00eeff49);
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
